{% extends "layouts/import.html" %}
{% block content %}

<style>
    body {
        padding-top: 50px;
        padding-bottom: 60px;
    }
</style>

<div class="recognition-portal">
    <center>
        <br><h2>Welcome to Signsense's recognition portal!</h2>

        <p class="lead"><strong>Show KSL sign signals in front of the camera or upload an image/ video</strong>, and let the advanced ML system detect and convert into a text output.</p>

        <!-- Live video feed from YOLO model -->
        <div style="margin-top: 20px;">
            <img id="webcam-feed" src="{{ url_for('webcam_feed') }}" width="450" height="350" alt="Webcam Feed">
        </div>

        <div class="loader" style="display:none;"></div>

        <h3 id="result">
            <span> </span>
        </h3>

        <!-- File upload section -->
        <div style="margin-top: 20px;">
            <input type="file" id="fileInput" accept="image/*,video/*">
            <button class="btn btn-primary" onclick="uploadFile()">Upload</button>
        </div>

    </center><br><br>
</div>

{% if current_user.privilege == 'admin' %}
    {% include "layouts/admin/admin_collapsible_menu.html" %}
{% else %}
    {% include "layouts/user/collapsible_menu.html" %}
{% endif %}

<!-- Include the JavaScript file -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

<script>
    // Function to handle file upload
    function uploadFile() {
        const fileInput = document.getElementById('fileInput');
        const file = fileInput.files[0];
        if (file) {
            const formData = new FormData();
            formData.append('file', file);

            fetch('/upload_file', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                document.getElementById('result').innerText = data.result;
                // Update recognized sign text
                document.getElementById('sign-text').innerText = data.sign || "Sign not recognized";
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        } else {
            alert('Please select a file to upload.');
        }
    }
</script>
{% endblock %}
