.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.foot
{
    background-color: #222222;
    color:white;
    margin-top:300px;
    margin-bottom:0px;
    padding-top:30px;
    padding-bottom: 30px;
    padding-left:0px;
    text-align:center;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;

    bottom: 0;
    width: 100%;


}

.navbar-brand:hover, .navbar-brand.selected {
    text-decoration: underline;
}

/* Form container styling */
#loginForm, #registerForm {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Input field styling */
#loginForm input, #registerForm input {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Include padding in width calculation */
}

#loginForm input:focus, #registerForm input:focus {
    border-color: #777;
    outline: none;
}

/* Button styling */
.form-toggle-btn {
    width: 100%; /* Set a specific width */
    background-color: #007bff; /* Bootstrap's info color for a light blue */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px; /* Slight separation between buttons */
    margin-bottom: 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-toggle-btn:hover {
    background-color: #138496; /* A darker shade of the info color for hover effect */
}

.form-check-input {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.google-btn{
    margin-top: 0px;
    width: 100%; /* Set a specific width */
    background-color: #f9fafc; /* Bootstrap's info color for a light blue */
    color: #353535;
    border: 1px solid #706f6f;
    padding: 10px 20px;
    margin: 10px 5px; /* Slight separation between buttons */
    margin-bottom: 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, serif;
}

/* Add this to static/css/test.css */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343a40; /* Bootstrap's dark background color */
    color: white;
    padding: 10px 0;
}

/* Add this to static/css/test.css */
.center-content {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.center-content p {
    margin: 0 auto;
    max-width: 100%;
    word-wrap: break-word;
}

/* Ensure the navbar is responsive */
.navbar {
    flex-wrap: wrap;
    width: 100%;
}

/* Add this to static/css/test.css */
.nav-link.active {
    text-decoration: underline;
}

/* Add this to static/css/test.css */
.nav-link i {
    margin-right: 8px; /* Add some space between the icon and the text */
}

/* Add this to static/css/test.css */
.collapse-menu {
    position: absolute;
    left: -260px;
    top: 120px;
    width: 260px;
    height: 100%;
    background-color: #343a40;
    z-index: 1030;
    transition: left 0.5s ease-in-out;
}

.menu-toggle i, .close-menu i {
    font-size: 20px;
    color: white;
}

.close-menu {
    margin-bottom: 10px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.2rem;
    }
    .navbar-nav {
        width: 100%;
        text-align: center;
    }
    .navbar-nav .nav-item {
        width: 100%;
    }
    .content p {
        font-size: 1rem;
    }
    .footer {
        padding: 10px;
    }
    .center-content {
        padding: 5px 5px 5px 25px;
        width: 100%;
    }
    .center-content p {
        font-size: 1rem; /* Adjust font size for smaller screens */
        padding: 5px 50px 5px 50px;
    }
    .collapse-menu {
        height: auto; /* Adjust height for mobile screens */
    }
}
