{% extends "layouts/import.html" %}

{% block content %}
<div class="container mt-2" style="padding-top: 70px; padding-bottom: 60px">
    {% if notification %}
    <div class="alert alert-{{ notification.type }} alert-dismissible fade show" role="alert">
        {{ notification.message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <div id="loginForm">
        <form method="POST" action="/forgot_password">
            <h3 class="text-center" style="font-family: Arial, serif;">Reset password</h3>
            <label>Enter your email address, and we will send you instructions to reset your password.</label><br>
            <br><label for="emailLogin" style="font-family: Arial, serif;">Email Address</label>
            <input type="email" placeholder="Enter email address" name="email" id="emailLogin" required>
            <button type="submit" class="form-toggle-btn">Submit</button>
            <button type="button" class="form-toggle-btn" id="backToLoginBtn">Back to Login</button>
        </form>
    </div>
</div>

<script>
    document.getElementById('backToLoginBtn').addEventListener('click', function() {
        window.location.href = '/authentication';
    });
</script>
{% endblock %}