{% extends "layouts/import.html" %}

{% block content %}
<div class="container mt-2" style="padding-top: 70px">
    <!-- Forget Password Form -->
    <div id="loginForm">
        <form>
            <h3 class="text-center" style="font-family: Arial, serif;">Reset password</h3>
            <label>Enter your email address, and we will send you instructions to reset your password.</label><br>
            <br><label for="emailLogin" style="font-family: Arial, serif;">Email Address</label>
            <input type="email" placeholder="Enter email address" name="email" id="emailLogin">
            <button type="submit" class="form-toggle-btn">Continue</button>
            <button type="button" class="form-toggle-btn" id="backToLoginBtn">Back to Login</button>
        </form>
    </div>
</div>

<script>
    document.getElementById('backToLoginBtn').addEventListener('click', function() {
        window.location.href = '/authentication'; // Redirect to the authentication page
    });
</script>
{% endblock %}